@import url('https://fonts.googleapis.com/css2?family=Sacramento&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600&display=swap');

* {
  background-color: #02343F;
  margin: 0; 
  padding: 0; 
  font-family: 'Sacramento', cursive;
  box-sizing: border-box;
}

.App {
  text-align: center;
  height: 100vh; 
  display: flex; 
  flex-direction: column;
  justify-content: center; 
  align-items: center; 
  flex-grow: 1;
  margin: 10px;
}

.wrapper {
  display: flex; 
  flex-direction: column; 
  align-items: center;
  justify-content: center; 
}

h1{
  color: #F0EDCC;
  font-size: 4rem;
  font-weight: 300;
  margin-bottom: 50px;
}
.wrapper p{
  color: #F0EDCC;
  font-size: 1rem;
  font-weight: 300;
  margin-top: 50px;
  font-family: 'Montserrat', sans-serif;
}

button{
  width: 80px;
  height: 80px;
  background-color: #F0EDCC;
  color: #02343F;
  gap: 50px;
  border-radius: 0.5rem;
  cursor: pointer;
  font-weight: 700;
}
.Buttons{
  width: auto;
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: row;
  gap: 50px;
}

footer {
  text-align: center;
  color: #F0EDCC;
  font-family: 'Montserrat', sans-serif;
  margin-top: 50px;
  font-size: 1rem;
}

@media screen and (max-width: 768px) {
  h1{
    color: #F0EDCC;
    font-size: 2rem;
    font-weight: 300;
    margin-bottom: 50px;
  }
  .wrapper p{
    color: #F0EDCC;
    font-size: 0.8rem;
    font-weight: 300;
    margin-top: 50px;
    font-family: 'Montserrat', sans-serif;
  }
  
  button{
    width: 40px;
    height: 40px;
    background-color: #F0EDCC;
    color: #02343F;
    gap: 15px;
    border-radius: 0.4rem;
    cursor: pointer;
    font-weight: 700;
  }
  .Buttons{
    width: auto;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: row;
    gap: 15px;
  }
  
  footer {
    text-align: center;
    color: #F0EDCC;
    font-family: 'Montserrat', sans-serif;
    margin-top: 30px;
    font-size: 0.8rem;
  }
}

@media screen and (max-width: 360px) {
  h1{
    color: #F0EDCC;
    font-size: 2rem;
    font-weight: 300;
    margin-bottom: 50px;
  }
  .wrapper p{
    color: #F0EDCC;
    font-size: 0.8rem;
    font-weight: 300;
    margin-top: 50px;
    font-family: 'Montserrat', sans-serif;
  }
  
  button{
    width: 40px;
    height: 40px;
    background-color: #F0EDCC;
    color: #02343F;
    gap: 15px;
    border-radius: 0.4rem;
    cursor: pointer;
    font-weight: 700;
  }
  .Buttons{
    width: auto;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: row;
    gap: 15px;
  }
  
  footer {
    text-align: center;
    color: #F0EDCC;
    font-family: 'Montserrat', sans-serif;
    margin-top: 30px;
    font-size: 0.8rem;
  }
}